// Variables
@use "variables" as *;

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Html
html {
  transition:
    background-color $transition-speed ease,
    color $transition-speed ease;
}

// Body
body {
  font-family: $font-family;
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}
